@import-normalize; /* bring in normalize.css styles */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', Helvetica,
    Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  font-size: 14px;
  color: var(--color-black);
  background-color: var(--color-background);

  /* Чтобы не прыгал скрол, показываем его всегда */
  overflow-y: scroll;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
