:root {
  --color-blue-rgb: 27, 101, 238;
  --color-orange-rgb: 237, 79, 52;
  --color-blue: rgb(var(--color-blue-rgb));
  --color-blue-light: #296ff0;
  --color-orange: rgb(var(--color-orange-rgb));
  --color-gray-lighter: #f1f1f1;
  --color-black: rgb(43, 43, 43);
  --color-text: var(--color-black);
  --color-background: rgb(226, 226, 226);
  --color-imdb-yellow: #f6c700;
  --color-tmdb-green: #14b18c;
  --color-tmdb-blue: #01a4e4;

  --box-shadow: 0 1px 1px 1px rgb(202, 202, 202);
  --border-radius: 8px;
  --header-height: 60px;

  --trans-func: ease;
  --trans-duration: 250ms;
}
